<!DOCTYPE HTML>
<html>
<head>
	<title>Sign-In</title>
	<link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body id="body-color">
	<div id="Sign-In">
		<fieldset style="width:90%"><legend><font face="Comic Sans MS" color="white">Log-in</font></legend>
			<form method="POST" action="login">
			<font face="Comic Sans MS" color="white">Username</font> <br><input type="text" name="user" size="50"><br>
			<font face="Comic Sans MS" color="white">Password</font> <br><input type="password" name="pass" size="50"><br><br />
			<input id="button" type="submit" name="submit" value="Log-in">
			</form>
		</fieldset>
	<font face="Comic Sans MS" color="white">&nbsp;No account? <a href="/register">Register</a></font>
	</div>
</body>
</html>
