<!DOCTYPE HTML>
<html>
<div></div>
<script>
function getParameterByName(name, url) {
    if (!url) {
      url = window.location.href;
    }
    name = name.replace(/[\[\]]/g, "\\$&");
    var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
        results = regex.exec(url);
    if (!results) return null;
    if (!results[2]) return '';
    return decodeURIComponent(results[2].replace(/\+/g, " "));
}
var result = getParameterByName('error');
if (result == "fail") {
	document.getElementsByTagName('div')[0].innerHTML = "Username or Password incorrect. Redirecting back to the Login Form in 5 seconds.";
} else if (result == "empty") {
	document.getElementsByTagName('div')[0].innerHTML = "Username or Password empty. Redirecting back to the Login Form in 5 seconds.";
}
</script>
<meta http-equiv="refresh" content="3;url=/" />
</html>