{% extends layout %}
{% block content %}
	<div id="Sign-In">
		<fieldset style="width:90%">
			<legend>Log-in</legend>
			<form method="POST" action="/register/instructor/passphrase">
				<div>
					<label>Master Instructor Passphrase</label>
					<input type="password" name="pass" size="50">
				</div>
				<br>
				<input id="button" type="submit" name="submit" value="Log-in">
			</form>
		</fieldset>
		Wrong place? <a href="/">Login</a><br>
	</div>
{% endblock %}